html {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

section {
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

article {
    flex: 1;
}

p {
    max-width: 50rem;
}

.chip {
    display: inline-block;
    padding: 1px 8px 1px 8px;
    margin: 0px 6px 6px 0px;
    background-color: var(--pico-code-background-color);
    border-radius: .25rem;
    cursor: pointer;
}

.canvas {
    padding: 16px 64px 16px 64px;
}

@media (max-width: 576px) {
    .canvas {
        padding: 4px;
    }
}