html {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

section {
    scroll-snap-align: start;
    height: 100vh;
    padding-top: 32px;
    display: flex;
    flex-direction: column;
}

article {
    flex: 1;
}

p {
    max-width: 60rem;
}

.chip {
    background-color: #e7e7e7;
    border-radius: .25rem;
    padding: 1px 8px 1px 8px;
    margin: 0px 6px 6px 0px;
    cursor: pointer;
    display: inline-block;
}